<header id="header">
	<nav class="navbar fixed-top navbar-inverse navbar-toggleable-md">
		<button class="navbar-toggler navbar-toggler-right"
			type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">Trainor</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="navbar-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="navbar-item">
					<a class="nav-link" href="/archives">Blog</a>
				</li>
				<li class="navbar-item">
					<a class="nav-link" href="#">Projects</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="jumbotron">
	</div>
</header>