<% if (site.tags.length){ %>
  <div class="widget-wrap card mb-3">
    <h3 class="widget-title card-header"><%= __('tags') %></h3>
    <div class="widget card-block">
      <%- list_tags({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
