<% if (site.tags.length){ %>
  <div class="widget-wrap card mb-3">
    <h3 class="widget-title card-header"><%= __('tagcloud') %></h3>
    <div class="widget tagcloud card-block">
      <%- tagcloud() %>
    </div>
  </div>
<% } %>